apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
<<<<<<< HEAD
  - https://github.com/kubernetes-sigs/jobset/releases/download/v0.8.2/manifests.yaml
=======
  - https://github.com/kubernetes-sigs/jobset/releases/download/v0.10.1/manifests.yaml
>>>>>>> v2.1.0

# Add required patches.
patches:
  # Remove namespace from the JobSet release manifests.
  - path: patches/jobset_remove_namespace.yaml
    target:
      group: ""
      version: v1
      kind: Namespace
